@import 'bootstrap-icons/font/bootstrap-icons.css';

@font-face {
  font-family: 'Wingdings';
  src: url('./fonts/wingding.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
